header {}

.header {
    border-bottom: 1px solid var(--border);
    display: flex;
    justify-content: space-between;
    padding: 1.6rem;
    align-items: center;
}

.logo {
    font-size: 2rem;
}

.desktop__elements {
    display: none;
}

.themeBtn {
    display: none;
}

button {
    border: none;
    background-color: transparent;
}

.icon {
    font-size: 2.5rem;

    &.menu {}
}

.modal__menu {
    position: fixed;
    inset: 0;
    background-color: var(--bg-alt);
    z-index: 999;
    visibility: hidden;
}

.elements__menu {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.back__container {
    border-bottom: 1px solid var(--border);
    padding: 1.6rem;

    .backBtn {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        font-size: 2rem;
        font-weight: bold;
    }
}

.links__opc {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.6rem;

    a {
        font-size: 1.8rem;
        font-weight: bold;
    }
}

.fadeInRight {
    visibility: visible;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeOutRight {
    visibility: visible;
    -webkit-animation-name: fadeOutRight;
    animation-name: fadeOutRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}