<main>
    <div class="about__container">
        <div class="about__title">
            <h1>About</h1>
        </div>
        <div class="about__elements">
            <p>
                Proyecto desarrollado en Angular V19 con Standalone, enfocado en aplicar buenas practicas y manejo de estado, utilizando un enfoque mobile first y una base de código claro y escalable, con finalidad de portafolio.
                <br><br>
                La aplicación permite crear, visualizar, editar y eliminar productos, manteniendo un control básico de inventario. El formulario está construido con Reactive Forms, lo que permite validaciones robustas, control preciso del estado de los campos y una mejor experiencia de usuario.
                <br><br>
                Para la gestión de datos se utiliza Firebase Realtime Database consumida mediante su REST API, sin depender del SDK de Firebase. <br>
                La comunicación con la API se maneja a través de una API service y una capa de Facade Services, lo que permite separar la lógica de negocio de los componentes y mantener un flujo de datos más predecible y escalable.
                <br><br>
                El manejo asincrono y la manipulación de datos se realiza con RxJS, aprovechando observables para gestionar peticiones HTTP, estados y sincronización de datos entre vistas y servicios.
            </p>
        </div>
        <div class="socials__container">
            <a href="https://github.com/Aldordzvn/inventarioFirebase" target="_blank" rel="noopener noreferer"> <fa-icon class="icon git" [icon]="gitHubIcon"></fa-icon> </a>
            <a href="https://www.linkedin.com/in/aldordzvn/" target="_blank" rel="noopener noreferer"> <fa-icon class="icon linkedin" [icon]="linkedInIcon"></fa-icon> </a>
        </div>
    </div>
</main>
