@font-face{
    font-family: 'roboto';
    src: url('/fonts/Inter/InterNormal.ttf');
    font-weight: 100 900;
    font-style: normal;
}

@font-face{
    font-family: 'roboto';
    src: url('/fonts/Inter/InterItalic.ttf');
    font-weight: 100 900;
    font-style: italic;
}