:host{
    display: flex;
    flex: 1;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    flex:1;
}

.elements__container {
    padding: 1.6rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.title__container {
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;

    button {
        width: 11rem;
        height: 4rem;
        border: 1px solid black;
        border-radius: 4px;
        background-color: var(--secondary);
        color: var(--secondary-soft);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-weight: 500;
        &:hover {
            background-color: var(--secondary-soft);
            color: var(--secondary);
        }
    }
}

.table__container {
    overflow-x: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 8px;
}

td,
th {
    border: 1px solid var(--border);
    padding: 0.8rem;
    text-align: left;
}

th {
    background-color: var(--primary);
}

.nombreProducto {
    overflow-x: auto;
}

tr:nth-child(even) {
    background-color: var(--accent-soft);
}

tr:hover {
    background-color: var(--accent);
}

.btns__container {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.btnOpc {
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--text-primary);
    &:hover {
        color: var(--tableBtn-hover);
    }
}

.modal__form {
    position: fixed;
    inset: 0;
    background: rgba(11, 11, 11, 0.78);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    display: none;
    justify-content: center;

    &.active {
        display: flex;
    }
}

.form__elements {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 1px solid var(--border);
    border-radius: 8px;
    width: clamp(26rem, 14.214rem + 36.83vw, 42.5rem);
    padding: 3rem;
    background-color: var(--bg-main);
}

.label__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    label {
        font-weight: 500;
    }

    input {
        border: 1px solid;
        border-radius: 4px;
        padding: 1rem 0.7rem;
    }

    select {
        padding: 1rem 0.7rem;
        border: 1px solid;
        border-radius: 4px;
    }
}



.btnsForm__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.formBtn {
    height: 4.6rem;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    color: var(--bg-main);
    font-weight: 500;

    &.cancel {
        background-color: var(--text-primary);

        &:hover {
            background-color: var(--error);
        }
    }

    &.enviar {
        background-color: var(--text-secondary);

        &:hover {
            background-color: var(--success);
            color: var(--text-primary);
        }
    }
}

.errorInput {
    background-color: var(--error);
    border: 1px solid var(--cancel-selected);

    &input::placeholder {
        color: var(--error);
    }
}

.errorSpan {
    font-size: 1.4rem;
    color: var(--text-error);
}

.modal__delete {
    position: fixed;
    inset: 0;
    background-color: var(--bg-main);
    display: none;
    justify-content: center;

    &.openDeleteModal{
        display: flex;
    }
}

.delete__items {
    width: clamp(26rem, 14.214rem + 36.83vw, 42.5rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon {
        font-size: 10rem;
        color: var(--warning);
    }

    p {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
}

.btnsDelete__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    .btn {
        border: 1px solid black;
        border-radius: 4px;
        width: 100%;
        height: 4.6rem;
        color: var(--bg-main);

        &.cancelar {
            background-color: var(--text-primary);

            &:hover {
                background-color: var(--warning);
            }
        }

        &.eliminar {
            background-color: var(--text-secondary);

            &:hover {
                background-color: var(--error);
            }
        }
    }
}

.pagination__container{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}