@import 'normalize.css';
@import './app/styles/fonts/roboto.css';

html[data-theme= 'light'] {
  --bg-main: #FFF8F3;
  --bg-alt: #FDEFE6;

  --surface: #FFFFFF;
  --surface-muted: #FAEDE3;
  --border: #E7D6CC;

  --text-primary: #2B2B2B;
  --text-secondary: #5F5B57;
  --text-muted: #9A8F87;

  --tableBtn-hover: #0855b3;

  --primary: #F97316;
  --primary-hover: #EA580C;
  --primary-soft: #FFE4D5;

  --secondary: #3A7CA5;
  --secondary-soft: #E0EFF7;

  --accent: #F4A7B9;
  --accent-soft: #FCE4EC;

  --success: #43D995;
  --warning: #F5A524;
  --error: #E85D5D;
  --info: #3A7CA5;
  --text-error: #520E0E;
  --cancel-selected: #520E0E;



}

html[data-theme='dark'] {
  --bg-main: #0F172A;
  --bg-alt: #141E33;

  --surface: #1A2338;
  --surface-muted: #202A40;
  --border: #2C3650;

  --text-primary: #F1F5F9;
  --text-secondary: #CBD5E1;
  --text-muted: #94A3B8;

  --tableBtn-hover: #7da8dd;

  --primary: #FB923C;
  --primary-hover: #F97316;
  --primary-soft: rgba(251,146,60,0.15);

  --secondary: #4FA3C7;
  --secondary-soft: rgb(21, 45, 56);

  --accent: #cf476b;
  --accent-soft: rgba(242,162,184,0.18);

  --success: #5FCF9A;
  --warning: #FBBF24;
  --error: #F87171;
  --info: #4FA3C7;
  --text-error: #F87171;
  --cancel-selected: #520E0E;
}

html, body{
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    color: var(--text-primary);
    background-color: var(--bg-main);
    font-family: 'roboto';
    font-weight: normal;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: var(--text-primary);
}

button{
    cursor: pointer;
}


